# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
build/
dist/

# Misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Database (SQL specific, but good to keep)
*.sqlite
*.db

# Encrypted blobs (don't commit files!)
backend/uploads/blobs/*
!backend/uploads/blobs/.gitkeep
